#floating-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #18516e;
	position: fixed;
	bottom: 60px;
	right: 20px;
	cursor: pointer;
	box-shadow: 0px 2px 5px #666;
}

.plus {
	color: white;
	position: absolute;
	visibility: visible;
	top: 0;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 50px;
	font-size: 38px;
	font-family: 'Roboto';
	font-weight: 300;
	transition: all 0.5s;
	transform: rotateZ(0deg);
}

.plus-rotate {
	transform: rotateZ(225deg);
}

#container-floating {
	visibility: hidden;
	opacity: 1;
	z-index: 1;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 30px;
	right: 30px;
    transition: visibility 0.5s, opacity 0.5s;
}

#container-floating.container-floating-hide {
	visibility: hidden;
	opacity: 0;
}


#container-floating.floating-show {
	height: 400px;
	width: 90px;
	padding: 30px;
}


@keyframes edit-in {
	from {
		opacity: 0;
		transform: rotateZ(-70deg);
	}
	to {
		opacity: 1;
		transform: rotateZ(0deg);
	}
}

.nds {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: fixed;
	z-index: 300;
	opacity: 0;
	transform: scale(0);
	cursor: pointer;
	transition: all 0.1s linear;
}

.nd1 {
	background: #18516e;
	right: 24px;
	bottom: 130px;
	box-shadow: 0px 2px 5px #666;
	text-align: center;
	color: white;
	transition-delay: 0.18s;
}

.nd2 {
	background: #18516e;
	right: 24px;
	bottom: 190px;
	box-shadow: 0px 2px 5px #666;
	color: white;
	transition-delay: 0.25s;
}

.mobile-instagram {
	margin-top: 9px;
	font-size: 22px;
} 

.mobile-send {
	margin-top: 11px;
    font-size: 17px;
    margin-left: 10px;
}

.nd3 {
	background: #18516e;
	right: 24px;
	bottom: 250px;
	box-shadow: 0px 2px 5px #666;
	overflow: hidden;
	transition-delay: 0.3s;
}

.nd3 img {
	width: 100%;
}

.nds-show {
	transform: scale(1);
	opacity: 1;
}