@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 400;
  src: local('Akrobat Regular'), local('Akrobat-Regular'), url(fonts/Akrobat-Regular.otf) format('otf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.mobile-side-menu
{
	padding: 40px 15px;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	background: linear-gradient(45deg, #105099 0%, #81D0EF 100%);
}

.mobile-side-menu-content
{
	opacity: 0;
	transition: all .5s ease-in-out;
}

.menu-content-show {
	opacity: 1;
	transform: translateX(10px);
}

.mobile-menu-logo {
	border-radius: 5px;
}

.mobile-side-menu-group {
	margin: 60px 0 0 10px;
}

.mobile-side-menu-title {
	font-size: 22px;
}

.mobile-side-menu-lista {
	margin-top: 30px;
	list-style: none;
	padding-inline-start: 0;
}

.mobile-side-menu-lista li {
	margin-top: 15px;
	font-size: 16px;
}

.map-container.menu-small {
	transform: translateX(70vw) translateY(15vh) scale(.7);
    transform-origin: 0 0;
	border-radius: 10px;
}

#map.map-small {
	border-radius: 10px;
}

.mobile-legenda
{
	float: right;
	height: 65px;
}

.mobile-filtro {
	transform: translateY(-100%);
    position: absolute;
    height: 300px;
    z-index: 3;
    width: 100%;
    background-color: white;
    transition: all .5s ease-in-out;
}

.mobile-filtro-show {
	transform: translateY(0%);
}

.menu-save {
	color: #2b7093;
}

.mapShadow1 {
	transform: scale(1);
    position: absolute;
    width: 100%;
    height: 100%;
	left: 0;
	top: 0;
	border-radius: 10px;
    background-color: rgba(255,255,255,0.4);
	transition: all .35s ease-in-out;
}

.mapShadow1.shadow1-show {
    transform: translate(67vw, 17vh) scale(.66);
    transform-origin: 0 0;
}

.mapShadow2 {
	transform: scale(1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    transition: all .4s ease-in-out;
}

.mapShadow2.shadow2-show {
    transform: translate(64vw, 19vh) scale(.62);
    transform-origin: 0 0;
}

.mobile-blur {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(55,55,55,0.6);
	z-index: 2;
    transition: visibility 0.5s, opacity 0.5s;
}

.mobile-blur-show {
	visibility: visible;
	opacity: 1;
}

.mobile-painel-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	top: 0;
	padding: 25px 20px;
}

.mobile-painel-content {
	padding: 0 20px;
}

.mobile-painel-content h4 {
	color: #bebebe;
	font-size: 15px;
}

.mobile-layers {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.mobile-pesquisa {
	margin: 0 0 20px 0;
}

.mobile-busca-icon {
	top: 76px;
    left: 29px;
    font-size: 15px;
    position: absolute;
}

/* MENU MOBILE */
.mobile-menu
{
	display: none;
	justify-content: space-between;
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 0;
	border-radius: 0;
	padding: 25px 20px;
}

.mobile-menu-map {
	background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.7), rgba(255,255,255,0.6), rgba(255,255,255,0.4), rgba(255,255,255,0));
	transition: all .5s ease-in-out;
	border-radius: 0;
}

.mobile-menu-map.mobile-menu-map-small {
	border-radius: 10px 0 0 0;
}

.menu-left img, .menu-right img
{
	height: 18px;
}

.menu-left span, .menu-right span
{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	font-weight: 300;
	line-height: 15px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0px;
}

.menu-title
{
	margin: auto;
	text-align: center;
}

.menu-title span
{
	color: #35343d;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	font-weight: bold;
	line-height: 15px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0px;
}

.mobile-logo-img
{
	width: 30px;
}

.menu-mobile-options
{
	display: none;
}

.footer-active-indicator {
	position: absolute;
	width: 33%;
	height: 2px;
	bottom: 38px;
	background-color: #2b7093;
	transform: translateX(33vw);
	transition: all .5s ease-in-out;
}

.footer-active-indicator.list-indicator {
	transform: translateX(0vw);
}


/* MOBILE SCHOOL LIST */
.mobile-list {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	flex-grow: 1;
	width: 100%;
    height: inherit;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
	z-index: 1;
	border-radius: 10px;
    transition: visibility 0.5s, opacity 0.5s;
	background-color: rgba(255, 255, 255, 0.9);
}

.mobile-list-show {
	visibility: visible;
	opacity: 1;
}

.mobile-list-items {
	list-style: none;
    padding-inline-start: 0;
    margin-bottom: 60px;
}

.mobile-list-item {
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: rgba(0,0,0,.1) 0 0 10px;
	margin-bottom: 20px;	
}

.pesquisa-thumb {
	height: 140px;
}

.mobile-list-info {
	height: auto;
	margin: 10px;
}

.mobile-list-nome {
	width: 90%;
	float: left;
	font-weight: bold;
	font-size: 12px;
}

.mobile-list-endereco {
	width: 100%;
	float: left;
	color: grey;
	font-size: 12px;
}

.mobile-list-nota {
	position: absolute;
	right: 30px;
	font-size: 12px;
	font-weight: bold;
}

.mobile-nota-red {
	color: red;
}

.mobile-nota-green {
	color: green;
}

.mobile-nota-yellow {
	color: yellow;
}

/* FOOTER MOBILE */

.mobile-footer
{
	display: none;
	justify-content: space-between;
	box-shadow: rgba(0,0,0,.1) 0 0 10px;
	background: #fff;
	height: 65px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	border-radius: 0;
	transition: all .3s ease-in-out;
}

.mobile-footer.mobile-footer-small
{
	border-radius: 0 0 0 10px;
}

.footer-globe:after, .footer-list:after
{
	
    content: "";
    position: relative;
    top: -3px;
    left: calc(33% + 20px);
    border-right: 1px solid #bebebe;
}

.footer-globe, .footer-list
{
	color: #bebebe;
	text-align: center;
	width: 33%;
}

.footer-globe i, .footer-list i
{
	font-size: 23px;
}

.footer-filtros
{
	float: left;
	position: fixed;
}

.footer-menu-inactive {
	color: #bebebe;
}

.footer-menu-active {
	color: #2b7093;
}

/* MEDIA QUERY */
@media screen and (max-width: 1400px){
	.filtro-periodo button {
		margin: 45px 0 0 10px !important;
	}
	
	.periodo-fim {
		padding-left: 20px !important;
	}
}

@media screen and (max-width: 1024px){
  	
	.pesquisa-resultado h4.pesquisa-nome {
		font-size: 10px;
	}

	.pesquisa-resultado h4.pesquisa-endereco {
		font-size: 8px !important;
	}

  	.compare-selecionados li {
  		height: auto;
  	}
  	
	.pesquisa-escola-caixas, .compare-escola-caixas {
		width: 33%;
		padding: 2%;
	}

	.cabecalho-compare {
        margin: 5%;
	}

	.dados {
		padding: 4%
	}

	.painel h2 {
		font-size: 20px;
	}

	.ideb, .escola-left, .dados-compare, .compare {
		width: 100%;
		float: left;
		position: relative;
	}

  	.navbar-fixed-top {
    margin-bottom: 0px;
    position: fixed;
  	}

	#map {
		width: 100%;
	}
		
	#fecha-escola, #fecha-compare, #fecha-resultado-compare, #home-mob {
		display: block;
	}
	
	.painel{
		box-shadow: none;
	}
	
	.redes-sociais, .footer-filtros, .copyright, .side-menu, #fecha-ideb, #fecha-compare-desk {
		display: none;
	}
	
	.boxes {
	    width: 37px;
	    height: 37px;
	}
	
	.logo {
		left: 10px;
		top: 60px;
	}
	
	.detalhe, .dados-compare, .cabecalho-compare, .compare-resultado {
		left: 0;
	}
	
	.compare, .detalhe, .dados-compare {
		bottom: 40px;
	}
	
	.legenda span, .lista-legenda {
		padding: 10px 12px 0 0;
	}
	
	.mobile-legenda {
		width: 33%;
	}
	
	.mobile-lista-legenda {
		float: right;
		list-style: none;
		display: inline-block;
		padding: 10px;
	}
	
	.legenda, .desktop-footer, .mobile-footer, .mobile-legenda {
		height: 40px;
	}
	
	.mobile-legenda {
		width: 33%;
	}
	
	.desktop-footer {
		display: none;
	}
	
	.mobile-footer {
		display: flex;
	}
	
	.desktop-footer, .mobile-footer {
		position: fixed;
    	bottom: 0;
	}
	
	#home-mob{
		padding: 8px 8px 0;
	}
	
	.footer-list, .footer-globe {
		padding: 10px 20px;
	}
	
	.layers-options, .layers-ui {
		right: 10px;
		top: 60px;
	}
	
	.layers-options {
		position: fixed;
	}
}

@media screen and (max-width: 768px){

	#mobile-menu.navbar-default {
    	font-size: 16px;
	}

	.pesquisa-escola-caixas, .compare-escola-caixas {
		width: 50%;
		padding: 2%;
	}
}


@media screen and (max-width: 640px){
	
	.mobile-menu {
		display: flex;
	}
		
	.flip, .anos-radio, .layers-ui, .helper {
    	display: none;
	}

	.pesquisa-escola-caixas, .compare-escola-caixas {
		width: 100%;
		padding: 4%;
	}
	
	.painel-pesquisa {
		transform: translateX(-100%);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background: #fff;
		z-index: 2;
		transition: all .5s ease-in-out;
	}
	
	.painel-pesquisa.pesquisa-show {
		transform: translateX(0%);
	}
	
	.painel-pesquisa.mobile-painel-close {
		display: block;
	}
	
	.painel-pesquisa .cabecalho, .contato-topo	{
		text-align: center;
		margin: 25px 25px 0px 25px;
	}
	
	.contato-topo {
		text-align: center;
	}
	
	.contato-topo h2 {
		font-size: 15px;
		text-transform: none;
		padding: 0 0 14px 0;
		color: white;
	}
	
	.painel-pesquisa .cabecalho h2 {
		font-size: 15px;
		text-transform: none;
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	.pesquisa-nome {
		margin-bottom: 10px;
		font-size: 12px !important;
	}
	
	.formato-titulo, .formato-opcoes {
		text-align: left;
	}
	
	.painel-close {
		display: none;
		left: 25px;
		right: 0;
		top: 20px
	}
	
	.modal-dialog,
	.modal-content {
	    height: 100%;
	}

	.modal-dialog {
		margin: 0px !important;
	}

	.modal-lg
	{
		width: 100% !important;
	}
	
	.layers-imgs {
		display: flex;
		justify-content: space-between;
	}
	
	.layers-info {
		margin-top: 0;
		margin-left: 10px;
	}
	
	.layers-bg a, .layers-info a {
		font-size: 11px;
	}
	
	.layers-bg div, .layers-info div {
		width: 100%;
	}
}