@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 400;
  src: local('Akrobat Regular'), local('Akrobat-Regular'), url(fonts/Akrobat-Regular.otf) format('otf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.mobile-side-menu
{
	padding: 40px 15px;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	background: linear-gradient(45deg, #105099 0%, #81D0EF 100%);
}

.mobile-side-menu-content
{
	opacity: 0;
	transition: all 1s ease-in-out;
}

.menu-content-show {
	opacity: 1;
	transform: translateX(10px);
}

.mobile-menu-logo {
	border-radius: 5px;
}

.mobile-side-menu-group {
	margin: 60px 0 0 10px;
}

.mobile-side-menu-title {
	font-size: 22px;
}

.mobile-side-menu-lista {
	margin-top: 30px;
	list-style: none;
	padding-inline-start: 0;
}

.mobile-side-menu-lista li {
	margin-top: 15px;
	font-size: 16px;
}

.map-container.menu-small {
	transform: translateX(70vw) translateY(15vh) scale(.7);
    transform-origin: 0 0;
	border-radius: 10px;
}

.map-container-blur {
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.map-container-loading {
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(255,255,255,0.5);
}

.map-container-blur.blur-show {
	visibility: visible;
}

.map-container-loading.loading-show {
	visibility: visible;
	background-image: url('icons/loading.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#map.map-small {
	border-radius: 10px;
}

.mobile-legenda
{
	height: 65px;
}

.mapShadow1 {
	transform: scale(1);
    position: absolute;
    width: 100%;
    height: 100%;
	left: 0;
	top: 0;
	border-radius: 10px;
    background-color: rgba(255,255,255,0.4);
	transition: all .35s ease-in-out;
}

.mapShadow1.shadow1-show {
    transform: translate(67vw, 17vh) scale(.66);
    transform-origin: 0 0;
}

.mapShadow2 {
	transform: scale(1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    transition: all .4s ease-in-out;
}

.mapShadow2.shadow2-show {
    transform: translate(64vw, 19vh) scale(.62);
    transform-origin: 0 0;
}

.mobile-blur {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(55,55,55,0.6);
	z-index: 2;
    transition: visibility 0.5s, opacity 0.5s;
}

.mobile-blur-show {
	visibility: visible;
	opacity: 1;
}

.mobile-painel-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	top: 0;
	padding: 25px 20px;
}

.mobile-painel-content {
	padding: 0 20px;
}

.mobile-painel-content h4 {
	color: #bebebe;
	font-size: 15px;
}

.mobile-layers {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.mobile-busca-icon {
	top: 76px;
    left: 29px;
    font-size: 15px;
    position: absolute;
}

/* MENU MOBILE */
.mobile-menu
{
	display: none;
	justify-content: space-between;
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 0;
	border-radius: 0;
	padding: 25px 20px;
}

.mobile-menu-map {
	background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.7), rgba(255,255,255,0.6), rgba(255,255,255,0.4), rgba(255,255,255,0));
	transition: all .5s ease-in-out;
	border-radius: 0;
}

.mobile-menu-map.menu-map-solid {
	background-color: white;
}

.mobile-menu-map.mobile-menu-map-small {
	border-radius: 10px 0 0 0;
}

.filter-applied {
	display: none;
	font-size: 25px !important;
    color: red;
    position: absolute;
    right: 17px;
}

.menu-cancel {
	display: block;
}

.menu-reset {
	display: none;
}

.menu-left, .menu-right {
    width: auto;
    min-width: 40px;
}

.menu-right img, .menu-right span {
    float: right;
}

.menu-left img, .menu-right img
{
	height: 18px;
}

.menu-left span, .menu-right span
{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	font-weight: 300;
	line-height: 15px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0px;
}

.menu-title
{
	margin: auto;
	text-align: center;
}

.menu-title span
{
	color: #35343d;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	font-weight: bold;
	line-height: 15px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0px;
}

.mobile-logo-img
{
	width: 30px;
}

.menu-mobile-options
{
	display: none;
}

.footer-active-indicator {
	position: absolute;
	width: 33%;
	height: 2px;
	bottom: 38px;
	background-color: #2b7093;
	transform: translateX(33vw);
	transition: all .5s ease-in-out;
}

.footer-active-indicator.list-indicator {
	transform: translateX(0vw);
}


/* MOBILE SCHOOL LIST */
.mobile-list {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	flex-grow: 1;
	width: 100%;
    height: inherit;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
	z-index: 1;
	border-radius: 10px;
    transition: visibility 0.5s, opacity 0.5s;
	background-color: rgba(255, 255, 255, 0.9);
}

.mobile-list-show {
	visibility: visible;
	opacity: 1;
}

.mobile-list-items {
	list-style: none;
	float: left;
    padding-inline-start: 0;
    margin-bottom: 60px;
}

.mobile-list-item {
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
	margin-bottom: 20px;
    border-radius: 5px;
}

.mobile-school-image {
	height: 140px;
	position: relative;
	display: block;
	overflow: hidden;
	outline: none;
	border-radius: 5px 5px 0 0;
	
	background-image: url('icons/loading.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.lazy {
	position: absolute;
	display: block;
	width: 100%;
	max-width: none;
	height: auto;
	border: 0 none;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
}

.mobile-list-info {
	height: auto;
	margin: 10px;
}

.mobile-list-nome {
	width: 84%;
	float: left;
	font-weight: bold;
	font-size: 12px;
}

.mobile-list-endereco {
	width: 100%;
	float: left;
	color: grey;
	font-size: 12px;
}

.mobile-list-nota {
	position: absolute;
	right: 30px;
	font-size: 12px;
	font-weight: bold;
}

.mobile-nota-red {
	color: #d8320c;
}

.mobile-nota-green {
	color: #017e00;
}

.mobile-nota-yellow {
	color: #e9ce14;
}

.mobile-nota-grey {
	color: grey;
}

.mobile-list-order {
	display: flex;
	margin: 20px 0;
	flex-direction: row;
    align-items: center;
	float: right;
	font-size: 12px;
}

.mobile-list-order img {
	height: 15px;
	margin-top: -3px;
}

.mobile-list-label {
	margin-right: 8px;
}

.order-radio {
	margin-left: 5px;
	padding: 8px;
	border-radius: 50px;
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.order-radio.active {
    background-color: #2b7093;
	color: white;
}

.mobile-list-order a {
	text-decoration: none;
	color: #333;
}


/* FILTROS */

.mobile-filtro {
	display: none;
	transform: translateY(-100%);
    position: absolute;
    height: 500px;
    z-index: 3;
    width: 100%;
    background-color: white;
    transition: all .5s ease-in-out;
}

.mobile-filtro-show {
	transform: translateY(0%);
}

.menu-save {
	color: #2b7093;
}

.menu-save-disabled {
	color: #d5d5d5;
}

.mobile-filtro-opcoes {
	margin-top: 25px;
}

.mobile-opcoes-lista {
    display: inline-block;
    float: left;
    font-size: 12px;
}

.mobile-opcoes-lista label {
	margin: 10px 5px 15px 0;
}

.mobile-opcoes-lista .opcoes-label {
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    color: #333;
}

.opcoes-item input[type=checkbox] {
	display: none;
}

.opcoes-item input[type=checkbox]:checked+.opcoes-label {
	background-color: #2b7093;
	color: white;
}

/* ESCOLA MOBILE */

.painel-escola-mobile {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	flex-grow: 1;
	width: 100%;
    height: inherit;
	padding: 0;
	top: 0;
	overflow: auto;
	z-index: 1;
	border-radius: 0 0 10px 10px;
	transform: translateY(100%);
	transition: all 0.5s;
	transition-delay: 0.5s;
}

.painel-escola-mobile.escola-show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
}

.escola-mobile-blur {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 35%;
}

.escola-mobile-border {
	height: 70px;
	background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}

.fiscalizacao-datas-mobile {
    display: flex;
    margin: 20px auto 0 auto;
    flex-direction: row;
}

.fiscalizacao-datas-mobile ul {
    width: 100%;
    text-align: center;
    padding: 0;
    display: flex;
}

.fiscalizacao-datas-mobile li {
	padding: 8px;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
	display: inline-block;
	transition: all .5s ease-in-out;
	list-style: none;
    cursor: pointer;
    font-size: 11px;
    margin: 6px;
    
}

.fiscalizacao-datas-mobile .data-active {
    background: #2b7093;
    text-decoration: none;
    color: white;
}

.escola-mobile-content {
    display: flex;
    flex-direction: column;
    background-color: white;
	padding: 0 20px;
	padding-bottom: 60px;
}

.escola-mobile-nome {
	font-size: 20px;
	color: #35343D;
	margin-top: -20px;
}

.escola-mobile-endereco {
	margin-top: 4px;
	font-size: 11px;
	color: #9d9d9d;
}

.mobile-group-title {
	font-size: 18px;
    color: #9b9b9b;
    margin: 20px 0 10px 0;
    text-align: center;
}

.mobile-ideb-resume {
	font-size: 12px;
}

.mobile-ideb-info-ini, .mobile-ideb-info-fin {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.escola-mobile-notas {
	display: flex;
	flex-direction: column;
	height: auto;
    justify-content: space-around;
}

.notas-title-ini, .notas-title-fin {
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 10px;
	margin-top: 20px;
}

.mobile-meta-ini, .mobile-meta-fin {
	width: 60px;
	height: 60px;
	margin-bottom: 8px;
	border: 2px grey solid; 
	border-radius: 3px;
	color: grey;
	text-align: center;
}

.meta-ini-title, .meta-fin-title {
	font-size: 11px;
}

.meta-ini-valor, .meta-fin-valor {
    position: relative;
    font-size: 30px;
    top: -10%;
}

.mobile-nota-ini, .mobile-nota-fin {
	width: 60px;
	height: 60px;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	text-align: center;
}

.nota-ini-title, .nota-fin-title {
	font-size: 11px;
}

.nota-ini-valor, .nota-fin-valor {
	position: relative;
    font-size: 30px;
    top: -10%;
}

.nota-red {
	color: #d8320c;
	border-color: #d8320c; 
}

.nota-green {
	color: #017e00;
	border-color: #017e00; 
}

.nota-yellow {
	color: #e9ce14;
	border-color: #e9ce14; 
}

/* FOOTER MOBILE */

.mobile-footer
{
	display: none;
	justify-content: space-between;
	box-shadow: rgba(0,0,0,.1) 0 0 10px;
	background: #fff;
	height: 65px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	border-radius: 0;
	transition: all .3s ease-in-out;
}

.mobile-footer.mobile-footer-small
{
	border-radius: 0 0 0 10px;
}

.footer-globe:after, .footer-list:after
{
	
    content: "";
    position: relative;
    top: -3px;
    left: calc(33% + 20px);
    border-right: 1px solid #bebebe;
}

.footer-globe, .footer-list
{
	color: #bebebe;
	text-align: center;
	width: 33%;
}

.footer-globe i, .footer-list i
{
	font-size: 23px;
}

.footer-filtros
{
	float: left;
	position: fixed;
}

.footer-menu-inactive {
	color: #bebebe;
}

.footer-menu-active {
	color: #2b7093;
}

/* MEDIA QUERY */
@media screen and (max-width: 1400px){
	.filtro-periodo button {
		margin: 45px 0 0 10px !important;
	}
	
	.periodo-fim {
		padding-left: 20px !important;
	}
}

@media screen and (max-width: 1024px){
  	
	.pesquisa-resultado h4.pesquisa-nome {
		font-size: 10px;
	}

	.pesquisa-resultado h4.pesquisa-endereco {
		font-size: 8px !important;
	}

  	.compare-selecionados li {
  		height: auto;
  	}
  	
  	.mobile-filtro {
  		display: block;
  	}
  	
	.pesquisa-escola-caixas, .compare-escola-caixas {
		width: 33%;
		padding: 2%;
	}

	.cabecalho-compare {
        margin: 5%;
	}

	.dados {
		padding: 4%
	}

	.painel h2 {
		font-size: 20px;
	}

	.ideb, .escola-left, .dados-compare, .compare {
		width: 100%;
		float: left;
		position: relative;
	}

  	.navbar-fixed-top {
    margin-bottom: 0px;
    position: fixed;
  	}

	#map {
		width: 100%;
	}
	
	.painel{
		box-shadow: none;
	}
	
	.redes-sociais, .footer-filtros, .copyright, .side-menu, #fecha-ideb, #fecha-compare-desk {
		display: none;
	}
	
	.logo {
		left: 10px;
		top: 60px;
	}
	
	.detalhe, .dados-compare, .cabecalho-compare, .compare-resultado {
		left: 0;
	}
	
	.compare, .detalhe, .dados-compare {
		bottom: 40px;
	}
	
	.legenda span, .lista-legenda {
		padding: 10px 12px 0 0;
	}
	
	.mobile-legenda {
		width: 33%;
		display: flex;
		justify-content: center;
	}
	
	.mobile-lista-legenda {
		float: right;
		list-style: none;
		display: inline-block;
		padding: 10px;
	}
	
	.legenda, .desktop-footer, .mobile-footer, .mobile-legenda {
		height: 40px;
	}
	
	.mobile-legenda {
		width: 33%;
	}
	
	.desktop-footer {
		display: none;
	}
	
	.mobile-footer {
		display: flex;
	}
	
	.desktop-footer, .mobile-footer {
		position: fixed;
    	bottom: 0;
	}
	
	#home-mob{
		padding: 8px 8px 0;
	}
	
	.footer-list, .footer-globe {
		padding: 10px 20px;
	}
	
	.layers-options, .layers-ui {
		right: 10px;
		top: 60px;
	}
	
	.layers-options {
		position: fixed;
	}
}

@media screen and (max-width: 768px){

	#mobile-menu.navbar-default {
    	font-size: 16px;
	}

	.pesquisa-escola-caixas, .compare-escola-caixas {
		width: 50%;
		padding: 2%;
	}
}


@media screen and (max-width: 640px){
	
	.mobile-menu {
		display: flex;
	}
		
	.flip, .anos-radio, .layers-ui, .helper, .fecha-compare, .cabecalho-compare h2 {
    	display: none;
	}

	.pesquisa-escola-caixas, .compare-escola-caixas {
		width: 100%;
		padding: 4%;
	}
	
	.painel-pesquisa {
		transform: translateX(-100%);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background: #fff;
		z-index: 2;
		transition: all .5s ease-in-out;
	}
	
	.painel-pesquisa.pesquisa-show {
		transform: translateX(0%);
	}
	
	.painel-pesquisa.mobile-painel-close {
		display: block;
	}
	
	.painel-pesquisa .cabecalho, .contato-topo	{
		text-align: center;
		margin: 25px 25px 0px 25px;
	}
	
	.busca-input {
		font-size: 14px;
	}
	
	.contato-topo {
		text-align: center;
	}
	
	.contato-topo h2 {
		font-size: 15px;
		text-transform: none;
		padding: 0 0 14px 0;
		color: white;
	}
	
	.painel-pesquisa .cabecalho h2 {
		font-size: 15px;
		text-transform: none;
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	.pesquisa-nome {
		margin-bottom: 10px;
		font-size: 12px !important;
	}
	
	.formato-titulo, .formato-opcoes {
		text-align: left;
	}
	
	.painel-close {
		display: none;
		left: 25px;
		right: 0;
		top: 20px
	}
	
	.modal-dialog,
	.modal-content {
	    height: 100%;
	}

	.modal-dialog {
		margin: 0px !important;
	}

	.modal-lg
	{
		width: 100% !important;
	}
	
	.layers-imgs {
		display: flex;
		justify-content: space-between;
	}
	
	.layers-info {
		margin-top: 0;
		margin-left: 10px;
	}
	
	.layers-bg a, .layers-info a {
		font-size: 11px;
	}
	
	.layers-bg div, .layers-info div {
		width: 100%;
	}
	
	.painel-resultado-compare {
		width: 100%;
	}
	
	.cabecalho-compare {
		margin: 0 20px 20px 20px;
	}
	
	.mobile-menu-compare {
		position: relative;
		float: left;
	}
	
	.painel-compare {
		left: -100%;
		width: 100%;
		transition: all .5s ease-in-out;
	}
	
	.painel-compare.compare-show {
		transform: translateX(100%);
	}
	
	#container-floating {
		visibility: visible;
	}
	
	#foto-visita-1 img {
		width: 100%;
	}
	
	.big-box {
		width: 100%;
	    height: 180px;
	    margin-top: 25px;
	    border-radius: 3px;
	}
	
	.boxes {
		height: 64px;
	    width: 100%;
    	border-radius: 3px;
	}
	
	.foto-hidden {
		display: none;
	}
	
	#foto-visita-counter .counter {
		position: absolute;
		top: 50%;
		left: 50%;
	    width: 100%;
	    color: white;
	    transform: translate(-50%, -50%);
	}
	
	#foto-visita-counter .background {
		position: absolute;
	    height: 100%;
	    width: 100%;
	    background-color: rgba(60,60,60,0.9);
	}
	
	.aprendizado-group {
		margin: 15px 0;
	}
	
	.aprendizado-grafico {
		max-width: 320px;
		display: flex;
		margin-top: 7px;
		flex-direction: row;
	}
	
	.aprendizado-grafico > span {
		width: 12px;
		height: 12px;
		margin-right: 3px;
		background-color: #d5d5d5;
		border-color: #d5d5d5;
		border-style: solid;
		border-width: 1px;
		border-radius: 50px;
	}
	
	.aprendizado-grafico > .aprendizado-0 {
		background-color: #f00;
		border-color: #f00;
	}
	
	.aprendizado-grafico > .aprendizado-1 {
		background-color: #f60;
		border-color: #f60;
	}
	
	.aprendizado-grafico > .aprendizado-2 {
		background-color: #fc9700;
		border-color: #fc9700;
	}
	
	.aprendizado-grafico > .aprendizado-3 {
		background-color: #fcc115;
		border-color: #fcc115;
	}
	
	.aprendizado-grafico > .aprendizado-4 {
		background-color: #fde51f;
		border-color: #fde51f;
	}
	
	.aprendizado-grafico > .aprendizado-5 {
		background-color: #f6fd2c;
		border-color: #f6fd2c;
	}
	
	.aprendizado-grafico > .aprendizado-6 {
		background-color: #c9de26;
		border-color: #c9de26;
	}
	
	.aprendizado-grafico > .aprendizado-7 {
		background-color: #87cc1d;
		border-color: #87cc1d;
	}
	
	.aprendizado-grafico > .aprendizado-8 {
		background-color: #63b916;
		border-color: #63b916;
	}
	
	.aprendizado-grafico > .aprendizado-9 {
		background-color: #3ea50f;
		border-color: #3ea50f;
	}
	
	.aprendizado-text {
		font-size: 11px;
	}
	
	.escola-mobile-questionario {
		margin-top: 15px;
	}
	
	.fiscalizacao-questionario ul {
		padding-left: 0;
		padding-right: 0;
	}
	
	.mobile-aprendizado {
		margin-top: 35px;
	}
	
	#mobile-ideb-ini-grafico {
		width: 80%;
		height: 150px;
	}
	
	#mobile-ideb-fin-grafico {
		width: 80%;
		height: 150px;
	}
	
	.btn-relatorio, .btn-requerimento {
	    display: inline-block;
	    transition: all .5s ease-in-out;
	    color: #565656;
    	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    	border-radius: 50px;
    	border: 0px;
	    min-height: 60px;
	    font-size: 14px;
	    padding: 18px 40px;
	    text-align: center;
	    width: 100%;
	    letter-spacing: 1px;
	    margin: 20px 0;
	    font-weight: 600;
	}
}

@media screen and (max-width: 320px){
	.mobile-opcoes-lista .opcoes-label {
		font-size: 10px;
	}
}
	